*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    /*
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    */
    line-height: 1.2;
}

body{
    background-color: black;
    /*
    width: 1346px;
    height: 600px;
    */
    width: 100%;
    height: 100%;
    color: #fff;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

.body-container{
    background-color:  #1f1f1f;
    background:linear-gradient(rgba(67, 66, 66, 0.792),rgba(0, 0, 0, 0.554));
    border-radius: 5px;
    display: flex;
    
}

.menu{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.btn-menu{
    float: left;
    line-height: 80px;
    position: absolute;
    left: 0;
    height: 100%;
    padding: 10px;
    /*
    background-color: #1f1f1f;
    */
    background:linear-gradient(rgba(67, 66, 66, 0.792),rgba(0, 0, 0, 0.554));
}

.btn-menu label{
    color: rgba(81, 255, 188, 0.863);
    font-size: 25px;
    cursor: pointer;
}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 370px;
    /*
    background: #1c1c1c;
    */
    background:linear-gradient(rgb(67, 66, 66),rgba(0, 0, 0, 0.679));
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(35%);
    position: absolute;
    bottom: 40%;
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 30px 95px 30px 40px;
    color: rgba(81, 255, 188, 0.863);
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid rgba(81, 255, 188, 0.863);
    background: rgba(81, 255, 188, 0.123);
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

main{
    display: flex;
    height: auto;
}

.foto{
    width: 470px;
    height: 100%;
    position: relative;
    background:linear-gradient( rgba(5, 5, 5, 0.109)20%,rgb(5, 5, 5)),
    url(imagenes/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    margin-left: 55px;
}

.info{
    position: relative;

}

.flex-container{
    width: 680px;
    display: block;
    justify-content: space-between;
    margin: 30px 0px 30px 100px;
}

.titulo h1{
    font-size: 40px;
    margin-left: 0px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgba(81, 255, 188, 0.863);
}

.hobbies-container{
    margin: 100px 0px 200px 0px;
    color: #666666;
}

.videojuegos{
    font-size: 20px;
    margin: 40px;
}

.peliculas{
    font-size: 20px;
    margin: 40px;
}

.musica{
    font-size: 20px;
    margin: 40px;
}

.cocina{
    font-size: 20px;
    margin: 40px;
}