
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    /*
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    */
    line-height: 1.2;
}

body{
    background-color: black;
    width: 1346px;
    height: 600px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container{
    background-color:  #1f1f1f;
    width: 70%;
    height: 97%;
    border-radius: 5px;
    display: flex;
    position: relative;
}

.menu{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.btn-menu{
    float: left;
    line-height: 80px;
    position: absolute;
    left: 0;
    height: 100%;
    padding: 10px;
    background-color: #1f1f1f;
}

.btn-menu label{
    color: rgba(81, 255, 188, 0.863);
    font-size: 25px;
    cursor: pointer;
    
}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(35%);
    position: absolute;
    bottom: 40%;
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 31px;
    color: rgba(81, 255, 188, 0.863);
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid rgba(81, 255, 188, 0.863);
    background: rgba(81, 255, 188, 0.123);
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

main{
    display: flex;
}

.foto{
    width: 420px;
    height: 605px;
    position: relative;
    bottom: 10px;
    background:linear-gradient(rgba(1, 5, 0, 0.062),rgba(0, 0, 0, 0.89)),
    url(imagenes/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    margin-left: 55px;
}

.foto .nombre{
    width: 340px;
    height: 605px;
    bottom: 10px;
    position: absolute;
}

.foto .nombre h3{
    position:relative;
    top: 80%;
    left: 20%;
    font-size: 40px;
}

.flex-container{
    display: block;
    justify-content: space-between;
    margin: 10px;
    margin-left: 50px;
}

.presentacion h1{
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(81, 255, 188, 0.863);
}

.titulo h4{
    font-size: 15px;
    color: rgba(81, 255, 188, 0.863);
    margin-top: 5px;
    margin-bottom: 10px;
}

.parrafo{
    width: 380px;
}

.titulo p{
    width: 400px;
    font-size: 10px;
    color: #666666;
    line-height: 1.8;
}

.detalles-container{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    margin-top: 20px;
}

.detalles-container .skills h4{
    font-size: medium;
    margin-bottom: 5px;
}

.detalles-container .skills h5{
    color: #666666;
}
.informacion{
    margin-left: 80px;
}

.informacion h5{
    margin-top: 5px;
    color: #666666;
    line-height: 1.5;
}

.detalles-container .educacion{
    margin-top: 20px;
}

.detalles-container .educacion span{
    color: rgba(81, 255, 188, 0.863);
}

.detalles-container .educacion h5{
    font-size: 9px;
    color: #666666;
}

.detalles-container .educacion .E1{
    margin-top: 10px;
}

.detalles-container .educacion .E2{
    margin-top: 10px;
}

.detalles-container .educacion .E3{
    margin-top: 10px;
}

.detalles-container .educacion .E4{
    margin-top: 10px;
}

.detalles-container .educacion .E5{
    margin-top: 10px;
}

.detalles-container .educacion .E6{
    margin-top: 10px;
}